.basketContainer {
    display: flex;
    justify-content: center; 
    height: 700px;
    /* border: solid 1px black;     */
}

.basketProducts {
    /* border: solid 1px black; */
    width: 48%;    
}

.headerBasket {
    /* border: solid 1px black; */
    height: 70px;
    width: 100%; 
    font-size: 30px; 
    font-family: 'Arial';
    color: darkgray;   
    text-align: center;
}

.horizontalLineBasket {
    width: 100%;   
}

.headerTable {
    width: 100%;
    height: 20px;    
    font-size: 15px; 
    font-family: 'Arial';
    color: darkgray; 
    display: flex; 
    text-align: center;     
}

.basketProductName {
    width: 59%;   
    text-align: left; 
}

.basketProductRemove {
    width: 5%;    
}

.basketProductQuantity {
    width: 12%;        
}

.basketProductPrice {
    width: 12%;     
}

.basketProductSum {
    width: 12%;     
}

.emptyBasket {
    text-align: center;
    font-family: 'Arial';
    color: darkgray;
    font-size: 25px; 
    margin: 30px;
}

.basketSummary {    
    height: 50px;
    /* background-color: lightgrey; */
    display: flex;
}





