.product {
    width: 16%;
    height: 400px;
    border: solid 1px black;
    text-align: center;    
}

.divLink {
    text-decoration: none;
}

.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    justify-content: flex-start;
    margin: 0 auto;
}

.plus {
    text-align: center;
    margin: 20px;
}

#plusIcon {
    color: gray;
    font-size: xx-large;
    background: none;
    border: none;
}

.addNewProduct {
    border: solid 1px black;
      
}