
.header {
    width: 100%;
    height: 100px;      
    text-align: right;  
}

#shoppingBasket {
    font-size: 30px;
    padding-right: 500px;
    padding-top: 30px;
    color: #364135;
}

#search {
    font-size: 30px;
    color: #364135;
    padding-right: 20px;
}
