
.header {    
    height: 30px;    
    color: #364135;
    font-size: 30px;
    display: flex;    
}
.shopingCart {     
    width: 50%;
    padding-top: 10px;
    padding-left: 100px;
    display: flex;    
}

.socialmedia {        
    width: 50%; 
    padding-top: 10px; 
    padding-left: 500px;
}

#search {       
    padding-left: 30px;      
}

#facebook {
    padding-right: 30px;    
}

#user {
    padding-left: 30px;     
}

.number {
    font-size: 15px;
    padding-left: 10px;
    margin-top: auto;
}

.loggedUser {    
    font-size: 15px;
    padding-left: 92px;
    margin-top: auto;    
}


