.navbar {    
    height: 80px;     
    text-align: center;  
}

.navLink {
    border: none;
    background-color: white;    
    height: 30px;
    font-size: 15px; 
    color: darkgray; 
    text-decoration: none;
    padding-left: 80px;
    padding-right: 80px;    
}

.horizontalLine {
    width: 60%;    
}