.navbar {    
    height: 80px;     
    text-align: center;  
}

.navButton {
    border: none;
    background-color: white;
    width: 200px;
    height: 30px;
    font-size: 15px; 
    color: darkgray;   
}

.horizontalLine {
    width: 900px;    
}