.singleItem {
    width: 300px;
    height: 400px;    
    text-align: center;    
}

.photoItem {
    height: 300px;
}

.titleItem {
    height: 50px;    
}

.priceItem {
    height: 50px;    
}

#addToShopIcon {
    background: none;
    border: none;
}

#trashIcon {
    justify-content: flex-end;
    background: none;
    border: none;
}

